/* @theme eai */

@import 'uncover';

section {
  background-color: #1a2744;
  color: white;
  font-size: 32px;
  padding: 35px;
}

a:link,
a:visited {
  color: #3b82f6;
}

header,
footer {
  position: absolute;
  left: 50px;
  right: 50px;
  height: 20px;
  text-align: left;
}

header {
  top: 30px;
}

footer {
  bottom: 40px;
}

code {
  background-color: white !important;
  color: #1a2744 !important;
}